:root {
    /*  Pass color  */
    --first:#ffccd5  ;
    /*  strip colors */
    --stripone:   #a5847f ;
    --striptwo: #70a0d2 ;
    --stripthree: #9ad9ce ;
}
/* c b grayish-green #61ae63  */
/* light purple #c488c4  */
/* purple #bb89bd */
/* green #63ad61 */
/* French Blue #3683f6 */
/* Dark Gray #a1a1a1  */
/*  gray #979797 */
/* another light pink #f7c7cf */
/* Light Thulian Pink #f6c7cf  */
/* yellow #f6d836 */
/* red #f65d5d */
