:root {
    /*  Pass color  */
    --first: #feccd5   ;
    /*  strip colors */
    --stripone:  #623dfe  ;
    --striptwo:#4372c0 ;
    --stripthree: #ca987d  ; 
}
/* grayish-green #61ae63  */
/* light purple #c488c4  */
/* purple #bb89bd */
/* green #63ad61 */
/* French Blue #3683f6 */
/* Dark Gray #a1a1a1  */
/*  gray #979797 */
/* another light pink #f7c7cf */
/* Light Thulian Pink #f6c7cf  */
/* yellow #f6d836 */
/* red #f65d5d */
